<%= render partial: "responsive_menu" %>
<!-- // Navigation -->
<div class="site-container">
  <div class="container-fluid js_site_container js_main controller">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "navigation", locals: { sticky: true } %>

        <div class="catalog-beer">
          <h2 class="catalog-beer__title">Le birre</h2>
          <img data-fit="true" data-align="top center" class="coverized catalog-beer__background" src="<%= image_path 'catalog_beer/catalog_beer_splash.jpg' %>" alt="">
        </div>

        <div class="wrapper" style="padding: 70px 0px">
          <div class="container">
            <div class="row">

              <!-- product 1 -->
              <div class="col-md-3 col-sm-6">
                <div class="product-catalog">
                  <div class="product-catalog__image">
                    <img src="http://scottjoplin.it/wp-content/uploads/2014/02/bloemenbier-_75.jpg" alt="birra confenzione">
                  </div>
                  <div class="product-catalog__name">
                    <p>Miky's Beer</p>
                  </div>
                  <div class="product-catalog__price">
                    <p>13,50€</p>
                  </div>
                </div>
              </div>
              <!-- END product 1 -->

              <!-- product 2 -->
              <div class="col-md-3 col-sm-6">
                <div class="product-catalog">
                  <div class="product-catalog__image">
                    <img src="http://www.carlsbergitalia.it/stc/ResourceLoader.pub_do/(id)4028828d394795910139497494b301fa/blonde.jpg" alt="birra confenzione">
                  </div>
                  <div class="product-catalog__name">
                    <p>Grimbergen Blonde</p>
                  </div>
                  <div class="product-catalog__price">
                    <p>13,50€</p>
                  </div>
                </div>
              </div>
              <!-- END product 2 -->

              <!-- product 3 -->
              <div class="col-md-3 col-sm-6">
                <div class="product-catalog">
                  <div class="product-catalog__image">
                    <img src="http://www.carlsbergitalia.it/stc/ResourceLoader.pub_do/(id)4028828d394795910139496cdf9801e7/double.jpg" alt="birra confenzione">
                  </div>
                  <div class="product-catalog__name">
                    <p>Grimbergen Double</p>
                  </div>
                  <div class="product-catalog__price">
                    <p>13,50€</p>
                  </div>
                </div>
              </div>
              <!-- END product 3 -->

              <!-- product 4  -->
              <div class="col-md-3 col-sm-6">
                <div class="product-catalog">
                  <div class="product-catalog__image">
                    <img src="http://www.carlsbergitalia.it/stc/ResourceLoader.pub_do/(id)4028828d399f21ca0139a0bbb2b60046/grimb_blanche_33cl.jpg" alt="birra confenzione">
                  </div>
                  <div class="product-catalog__name">
                    <p>Grimbergen</p>
                  </div>
                  <div class="product-catalog__price">
                    <p>13,50€</p>
                  </div>
                </div>
              </div>
              <!-- END product 4  -->

              <!-- product 5 -->
              <div class="col-md-3 col-sm-6">
                <div class="product-catalog">
                  <div class="product-catalog__image">
                    <img src="http://www.centrobirra.it/admin/workspace/uploads/delirium-tremens.jpg" alt="birra confenzione">
                  </div>
                  <div class="product-catalog__name">
                    <p>Delirium Tremens</p>
                  </div>
                  <div class="product-catalog__price">
                    <p>99,50€</p>
                  </div>
                </div>
              </div>
              <!-- END product 5 -->

              <!-- product 6 -->
              <div class="col-md-3 col-sm-6">
                <div class="product-catalog">
                  <div class="product-catalog__image">
                    <img src="http://www.centrobirra.it/admin/workspace/uploads/adelscott-33.jpg" alt="birra confenzione">
                  </div>
                  <div class="product-catalog__name">
                    <p>Adelscott</p>
                  </div>
                  <div class="product-catalog__price">
                    <p>5,40€</p>
                  </div>
                </div>
              </div>
              <!-- END product 6 -->

              <!-- product 7 -->
              <div class="col-md-3 col-sm-6">
                <div class="product-catalog">
                  <div class="product-catalog__image">
                    <img src="http://static.gamesurf.it/immagini/2015/9877/scale_640/fallout-4_1445609893.jpg" alt="birra confenzione">
                  </div>
                  <div class="product-catalog__name">
                    <p>Fallout Beer</p>
                  </div>
                  <div class="product-catalog__price">
                    <p>13,50 tappi</p>
                  </div>
                </div>
              </div>
              <!-- END product 7 -->

              <!-- product 8  -->
              <div class="col-md-3 col-sm-6">
                <div class="product-catalog">
                  <div class="product-catalog__image">
                    <img src="http://www.eurosaga.com/wp-content/uploads/2013/03/tennents_super_strong_lager_33_cl.jpg" alt="birra confenzione">
                  </div>
                  <div class="product-catalog__name">
                    <p>Tennet's</p>
                  </div>
                  <div class="product-catalog__price">
                    <p>63,50€</p>
                  </div>
                </div>
              </div>
              <!-- END product 8  -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "big_footer" %>
  <%= render partial: "footer" %>
</div>
