<table class="body">
  <tr>
  <td class="center" align="center" valign="top">
    <center>
    <table class="header row" >
      <tr>
      <td>
        <table class="container" >
        <tr>
          <td class="wrapper header-align">
          <table class="nine columns">
            <tr align="right">
            <td>
              <a href="<%= root_url(host: @host) %>" >
              <img src="<%= image_url('home/splash-logo.png', host: @host) %>" alt="Forst Shop" style="border:0; max-height: 130px;"/>
              </a>
            </td>
            <td class="expander"></td>
            </tr>
          </table>
          </td>
          <td class="wrapper last header-align">
          <table class="three columns principal_color">
            <tr>
            <td class="btn">
              <a href="<%= root_url(host: @host) %>"><%= Spree.t 'order_mailer.confirm_email.gift_date' %>:</a>
            </td>
            <td class="expander"></td>
            </tr>
          </table>
          </td>
        </tr>
        </table>
      </td>
      </tr>
    </table><!--/row header-->

    <table class="container">
      <tr>
      <td>
        <!-- content start -->
        <table class="row">
        <tr>
          <td class="wrapper">
          <table class="twelve columns">
            <tr>
            <td>
              <h1><%= Spree.t 'order_mailer.confirm_email.greetings', first_name: @order.bill_address.first_name, last_name: @order.bill_address.last_name%></h1><br>
              <%= Spree.t 'order_mailer.confirm_email.thanks_for_ordering', url: root_url(host: @host) %>
            </td>
            <td class="expander"></td>
            </tr>
          </table> <!-- twelve columns -->
          </td>
        </tr>
        </table><!-- row -->
        <table class="row">
        <tr>
          <td class="wrapper">
          <table class="twelve columns status">
            <tr>
            <td>
              <h6><%= Spree.t 'order_mailer.confirm_email.order' %> #<%= @order[:number] %></h6>
              <strong><%= Spree.t 'order_mailer.confirm_email.state' %>:</strong> <%= Spree.t 'order_mailer.confirm_email.state_completed' %>
            </td>
            <td class="expander"></td>
            </tr>
          </table>
          </td>
        </tr>
        </table>

        <table class="container product">
        <tr>
          <td>

          <table class="block-grid three-up">
            <tr>
            <% @order.line_items.each do |line_item| %>
              <td class="center">
                <a href="<%= spree.product_url(line_item.product, host: @host) %>" title="<%= Spree.t 'order_mailer.confirm_email.go_to_product' %>">
                <div class="box-img-product">
                  <img class="img-product" src=<%= asset_url(line_item.product.images.first.attachment.url(:product), host: @host) %>>
                </div>
                <br/>
                <div class="info" >
                  <b class="name"><%= line_item.product.name.html_safe %></b><br>
                  <%= Spree.t 'order_mailer.confirm_email.quantity' %>: <%= line_item.quantity %><br/>
                  <%= Spree.t 'order_mailer.confirm_email.price' %>: <b class="price"><%= line_item.display_amount.to_html %></b><br/>
                </div>
                </a>
              </td>
            <% end %>
            </tr>
          </table>
          </td>
        </tr>
        </table>

        <table class="row">
        <tr>
          <td class="wrapper">
          <table class="six columns">
            <thead>
            <tr>
              <th class="box-title" align="left"><%= Spree.t 'order_mailer.confirm_email.billing_info' %>

              </th>
              <th class="expander"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="box-content">
                <%= @order.billing_address %>
              </td>

              <td class="expander"></td>
            </tr>
            </tbody>
          </table><!--six columns-->
          </td>
        </tr>
        </table><!--/row-->

        <table class="row">
        <tr>
          <td class="wrapper">
          <table class="six columns">
            <thead>
            <tr>
              <th class="box-title" align="left" ><%= Spree.t 'order_mailer.confirm_email.shipping_info' %>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="box-content">
                <%= @order.shipping_address %>
              </td>
              <td class="expander"></td>
            </tr>
            </tbody>
          </table><!--six columns-->
          </td>
        </tr>
        </table>
        <table class="row">
        <tr>
          <td class="wrapper">
          <table class="twelve columns">
            <tr>
            <td>
              <p><%= Spree.t 'order_mailer.confirm_email.contact_us' %>
              <b>shop@forst.it</b>.<br/><br/>
              <%= Spree.t 'order_mailer.confirm_email.thanks_again' %>
              </p>
            </td>
            </tr>
          </table>
          </td>
        </tr>
        </table>
      </td>
      </tr>
    </table><!--/row content-->
    </center>
  </td>
  </tr>
</table>
