<fieldset id='shipping_method' data-hook>

  <div class="inner" data-hook="shipping_method_inner">
    <div id="methods">
      <%= form.fields_for :shipments do |ship_form| %>

        <div class="shipment">

          <div class="stock-contents" data-hook="stock-contents">

          <div class="choose-shipping-method">
            <h5 class="stock-shipping-method-title"><%= Spree.t(:shipping_method) %></h5>
              <div class="choose-shipping-possibility">
                <ul class="field radios shipping-methods">
                  <% ship_form.object.shipping_rates.each do |rate| %>
                    <li class="shipping-method">
                      <label>
                        <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
                        <span class="rate-name"><%= rate.name %></span>
                        <span class="rate-cost"><%= rate.display_cost %></span>
                      </label>
                    </li>
                  <% end %>
                  </ul>
              </div>
          </div>
            <div class="table-cart__header">
              <div class="container">
                <div class="row">
                  <div class="table-cart__content col-md-8"><%= Spree.t(:item) %></div>
                  <div class="table-cart__content col-md-2"><%= Spree.t(:qty) %></div>
                  <div class="table-cart__content col-md-2"><%= Spree.t(:price) %></div>
                </div>
              </div>
            </div>
            <div class="table-cart__body">
              <% ship_form.object.manifest.each do |item| %>
              <div class="container">
                <div class="row">
                  <div class="table-cart__content col-md-2 item-image"><%= image_tag item.variant.display_image.attachment(:mini) %></div>
                  <div class="table-cart__content col-md-6 item-name"><%= item.variant.name.html_safe %></div>
                  <div class="table-cart__content col-md-2 item-qty"><%= item.quantity %></div>
                  <div class="table-cart__content col-md-2 item-price"><%= display_price(item.variant) %></div>
                </div>
              </div>
              <% end %>
            </div>
          </div>

        </div>

      <% end %>

      <% if @differentiator.try(:missing?) %>
        <div class="shipment unshippable">

          <div class="stock-contents" data-hook="stock-missing">
            <div class="table-cart__header">
              <div class="container">
                <div class="row">
                  <div class="table-cart__content col-md-8"><%= Spree.t(:item) %></div>
                  <div class="table-cart__content col-md-2"><%= Spree.t(:qty) %></div>
                  <div class="table-cart__content col-md-2"><%= Spree.t(:price) %></div>
                </div>
              </div>
            </div>


            <div class="table-cart__body">
              <% @differentiator.missing.each do |variant, quantity| %>
                <div class="container">
                  <div class="row">
                    <div class="table-cart__content col-md-2 item-image"><%= image_tag variant.display_image.attachment(:mini) %></div>
                    <div class="table-cart__content col-md-2 item-name"><%= variant.name %></div>
                    <div class="table-cart__content col-md-2 item-qty"><%= quantity %></div>
                    <div class="table-cart__content col-md-2 item-price"><%= display_price(variant) %></div>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      <% end %>

    </div>
    <% if Spree::Config[:shipping_instructions] %>
      <p id="minstrs" data-hook>
        <%= form.label :special_instructions, Spree.t(:shipping_instructions) %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      </p>
    <% end %>
  </div>
</fieldset>

<br />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'continue button primary' %>
</div>
