<div class="site-container">
  <div class="container-fluid js_site_container js_main controller">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "navigation", locals: { sticky: true } %>
      </div>
    </div>
  </div>



  <div class="wrapper">
    <div class="container">
      <div class="row">
        <% cache [I18n.locale, current_currency, @product] do %>
        <div class="col-md-6 col-sm-6">
          <div id="product-images" class="product-images" data-hook="product_images">
            <div id="main-image" data-hook>
              <%= render :partial => 'image' %>
            </div>
            <div id="thumbnails" data-hook>
              <%= render :partial => 'thumbnails' %>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-md-offset-1 col-sm-6">
          <div class="product-details">
            <h1 class="product-details__title"><%= @product.name %></h1>

            <div id="cart-form" data-hook="cart_form">
              <%= render :partial => 'cart_form' %>
            </div>

            <h2 class="product-details__subtitle"><%= Spree.t(:description) %></h2>
            <p class="product-details__description">
              <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
            </p>

            <ul class="product-details__attributes">
              <%= render :partial => 'properties' %>
            </ul>

          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: "big_footer" %>
  <%= render partial: "footer" %>
</div>
