<div class="container">
  <div class="row">

    <% taxons.each do |taxon| %>
      <div class="col-md-4 col-sm-4 merchandising-row">
        <div class="product-merchandising <%= cycle('first', 'middle', 'last') %>">
          <div class="product-merchandising__image">
            <img src="<%= taxon.icon.url(:big) %>" alt="<%= taxon.name %>">
          </div>
          <div class="product-merchandising__name">
            <p><%= taxon.name %></p>
          </div>
          <div class="product-merchandising__discover">
            <a href="<%= spree.nested_taxons_path(taxon) %>" class="button">
              <%= Spree.t('taxons.see_products') %>
            </a>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
