<% taxon = @taxon %>
<% splash = case taxon.name
            when "Beers"         then 'catalog_beer/catalog_beer_splash.jpg'
            when "Merchandising" then 'merchandising/merchandising.jpg'
            when "Clothing"      then 'merchandising/merchandising.jpg'
            when "Accessories"   then 'merchandising/merchandising.jpg'
            when "Glasses"       then 'merchandising/merchandising.jpg'
            end
%>

<div class="site-container">
  <div class="container-fluid js_site_container js_main controller">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "navigation", locals: { sticky: true } %>

        <div class="catalog-beer">
          <h2 class="catalog-beer__title"><%= taxon.name %></h2>
          <img data-fit="true" data-align="top center" class="coverized catalog-beer__background" src="<%= image_path splash %>" alt="">
        </div>

        <div class="wrapper" data-hook="taxon">

          <% if taxon.children.any? %>
            <%= render partial: 'subtaxons', locals: { taxons: taxon.children } %>
          <% else %>
            <%= render partial: 'spree/shared/products', locals: { products: taxon.products, taxon: taxon } %>
          <% end %>

        </div>

      </div>
    </div>
  </div>

  <%= render partial: "big_footer" %>
  <%= render partial: "footer" %>
</div>
