<div class="site-container">
  <div class="container-fluid js_site_container js_main controller">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "navigation" %>
        <!-- Splash -->
        <div class="splash">
          <div class="splash__content">
            <div class="splash__logo"><img src="<%= image_path 'home/splash-logo.png' %>" alt="" /></div>
            <h1 class="splash__title"><%= Spree.t('home.splash.title_html') %></h1>
            <p class="splash__description">
              <%= Spree.t('home.splash.description_html') %>
            </p>
          </div>
          <img data-fit="true" data-align="top center" class="splash__background coverized" src="<%= image_path 'home/splash.jpg' %>" alt="" />
        </div>
        <!-- // Splash -->
      </div>
    </div>
    <!-- Boxes -->
    <div class="section-boxes">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <!-- Section-box -->
          <div class="section-box">
            <a class="section-box__link" href="<%= shop_merchandising_path %>" title="Il merchandising">
              <img class="section-box__image" src="<%= image_path 'home/box-merchandising-background.png' %>" alt="" />
              <div class="section-box__content">
                <img class="section-box__icon" src="<%= image_path 'home/box-merchandising-icon.png' %>" alt="" />
                <h1 class="section-box__title"><%= Spree.t('home.boxes.merchandising') %></h1>
              </div>
            </a>
          </div>
          <!-- // Section-box -->
        </div>
        <div class="col-sm-4 col-md-4">
          <!-- Section-box -->
          <div class="section-box">
            <a class="section-box__link" href="<%= shop_beers_path %>" title="Le nostre birre">
              <img class="section-box__image" src="<%= image_path 'home/box-birre-background.png' %>" alt="" />
              <div class="section-box__content">
                <img class="section-box__icon" src="<%= image_path 'home/box-birre-icon.png' %>" alt="" />
                <h1 class="section-box__title"><%= Spree.t('home.boxes.our_beers') %></h1>
              </div>
            </a>
            <div class="section-box__coming-soon-overlay"></div>
          </div>
          <!-- // Section-box -->
        </div>
        <div class="col-sm-4 col-md-4">
          <!-- Section-box -->
          <div class="section-box">
            <a class="section-box__link" href="<%= shop_christmas_beer_path %>" title="<%= Spree.t('home.boxes.christmas_beer') %>">
              <img class="section-box__image" src="<%= image_path 'home/box-birra-natale-background.png' %>" alt="" />
              <div class="section-box__content">
                <img class="section-box__icon" src="<%= image_path 'home/box-birra-natale-icon.png' %>" alt="" />
                <h1 class="section-box__title"><%= Spree.t('home.boxes.christmas_beer') %></h1>
              </div>
            </a>
          </div>
          <!-- // Section-box -->
        </div>
      </div>
    </div>
    <!-- // Boxes -->
  </div>
  <div class="banner-product">
    <img class="banner-product__background" src="<%= image_path 'home/banner-background.png' %>" alt="" />
    <div class="banner-product__image-container">
      <img class="banner-product__product" src="<%= image_path 'home/banner-product.png' %>" alt="" />
    </div>
    <div class="banner-product__container">
      <h1 class="banner-product__title"><%= Spree.t('home.banner_product.title_html') %></h1>
      <p class="banner-product__description">
        <%= Spree.t('home.banner_product.description_html') %>
      </p>
      <a href="<%= shop_christmas_beer_path %>" class="btn-follow"><%= Spree.t('home.banner_product.call_to_action') %></a>
    </div>
  </div>
  <%= render partial: "big_footer" %>
  <%= render partial: "footer" %>
</div>
