<div class="site-container">
  <div class="container-fluid js_site_container js_main controller">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "navigation", locals: { sticky: true } %>

        <div class="catalog-merchandising">
          <h2 class="catalog-merchandising__title">Il Merchandising</h2>
          <img data-fit="true" data-align="top center" class="coverized catalog-merchandising__background" src="<%= image_path 'merchandising/merchandising.jpg' %>" alt="">
        </div>

        <div class="wrapper">
          <div class="container">
            <div class="row">

              <% taxons.each do |taxon| %>
                <div class="col-md-4 col-sm-4">
                  <div class="product-merchandising <%= cycle('first', 'middle', 'last') %>">
                    <div class="product-merchandising__image">
                      <img src="<%= taxon.icon.url(:big) %>" alt="<%= taxon.name %>">
                    </div>
                    <div class="product-merchandising__name">
                      <p><%= taxon.name %></p>
                    </div>
                    <div class="product-merchandising__discover">
                      <a href="#" class="button">Scopri i prodotti</a>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "big_footer" %>
  <%= render partial: "footer" %>
</div>
