<div class="site-container">
  <div class="container-fluid js_site_container js_main controller">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "navigation", locals: { sticky: true } %>
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="static-page">
                <div class="col-md-8 col-md-offset-2">
                <div class="col-md-8 col-md-offset-2">
                  <h2><%= Spree.t('pages.privacy.title') %></h2>
                  <h3><%= Spree.t('pages.privacy.subtitle') %></h3>
                  <p>
                  <%= Spree.t('pages.privacy.body_html') %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "big_footer" %>
  <%= render partial: "footer" %>
</div>
