<div class="container steps-data">
  <div class="row table-confirm-address">
  <% if order.has_step?("address") %>

    <div class="table-confirm-address__content col-md-6 col-sm-12 address-billing" data-hook="order-bill-address">
      <h4><%= Spree.t(:billing_address) %> <span><%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless order.completed? %></span></h4>
      <%= render :partial => 'spree/shared/address', :locals => { :address => order.bill_address } %>
    </div>

    <% if order.has_step?("delivery") %>
      <div class="table-confirm-address__content col-md-6 col-sm-12 address-shipping" data-hook="order-ship-address">
        <h4><%= Spree.t(:shipping_address) %> <span><%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless order.completed? %></span></h4>
        <%= render :partial => 'spree/shared/address', :locals => { :address => order.ship_address } %>
      </div>

      <div class="table-confirm-address__content col-md-6 col-sm-12 shipping" data-hook="order-shipment">
        <h4><%= Spree.t(:shipments) %> <span><%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:delivery) unless order.completed? %></span></h4>
        <div class="delivery">
          <% order.shipments.each do |shipment| %>
            <div>
              <i class='fa fa-truck'></i>
              <%= Spree.t(:shipment_details, :stock_location => shipment.stock_location.name, :shipping_method => shipment.selected_shipping_rate.name) %>
            </div>
          <% end %>
        </div>
        <%= render(:partial => 'spree/shared/shipment_tracking', :locals => {:order => order}) if order.shipped? %>
      </div>
    <% end %>
  <% end %>

    <div class="table-confirm-address__content col-md-6 col-sm-12 payment-info">
      <h4><%= Spree.t(:payment_information) %> <span><%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:payment) unless order.completed? %></span></h4>
      <div class="payment-info">
        <% order.payments.valid.each do |payment| %>
          <%= render payment %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id='line-items' class="container" data-hook="order_details">
  <div class="row list-product-cart">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-cart__header hidden-sm hidden-xs" data-hook="order_details_line_items_headers">
              <div class="container">
                <div class="row">
                  <div class="table-cart__content col-md-6 item" ><h4><%= Spree.t(:item) %></h4></div>
                  <div class="table-cart__content col-md-2 price"><h4><%= Spree.t(:price) %></h4></div>
                  <div class="table-cart__content col-md-2 qty"><h4><%= Spree.t(:qty) %></h4></div>
                  <div class="table-cart__content col-md-2 total"><h4><span><%= Spree.t(:total) %></span></h4></div>
                </div>
              </div>
            </div>
            <div class="table-cart__body">
              <div class="container">
                    <% order.line_items.each do |item| %>
                <div class="row">
                  <div class="table-cart__item">
                      <div class="table-cart__item" data-hook="order_details_line_item_row">
                        <div class="table-cart__content image col-md-2 " data-hook="order_item_image">
                          <% if item.variant.images.length == 0 %>
                            <%= link_to image_tag(item.variant.product.display_image.attachment(:small)), item.variant.product %>
                          <% else %>
                            <%= link_to image_tag(item.variant.images.first.attachment.url(:small)), item.variant.product %>
                          <% end %>
                        </div>
                        <div class="table-cart__content title-description col-md-4 " data-hook="order_item_description">
                          <h1><%= item.variant.product.name.html_safe %></h1>
                          <p><%= truncated_product_description(item.variant.product) %></p>
                          <%= "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
                        </div>
                        <div class="table-cart__content price col-md-2 price" data-hook="order_item_price"><span><%= item.single_money.to_html %></span></div>
                        <div class="table-cart__content qty col-md-2 " data-hook="order_item_qty">
                          <span class="hidden-md hidden-lg"><%= Spree.t(:qty) %>: </span><%= item.quantity %></div>
                        <div class="table-cart__content total col-md-2 total hidden-sm hidden-xs" data-hook="order_item_total"><span><%= item.display_amount.to_html %></span></div>
                      </div>
                  </div>
                </div>
                    <% end %>
              </div>
            </div>

            <div class="table-cart__footer">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 table-cart__content"></div>
                  <div class="col-md-1 table-cart__content text-right">
                    <span class="table-cart__total"><b><%= Spree.t(:subtotal) %>:</b></span>
                  </div>
                  <div class="col-md-2 table-cart__content">
                    <span class="table-cart__total-price"><%= order.display_item_total.to_html %></span>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row total-product-cart">
    <div class="col-md-12">
      <div class="container">
        <div class="row">

          <% if order.line_item_adjustments.exists? %>
            <% if order.all_adjustments.promotion.eligible.exists? %>
              <div class="col-md-12">
                <div id="price-adjustments" data-hook="order_details_price_adjustments">
                  <% order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
                    <div class="total">
                      <div class="label"><%= Spree.t(:promotion) %>: <strong><%= label %></strong></div>
                      <div class="total"><span><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %></span></div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>

          <% order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
          <div class="col-md-12">
            <div id="shipment-total">
                <div class="total" data-hook='shipment-row'>
                  <div class="label"><%= Spree.t(:shipping) %>: <strong><%= name %></strong></div>
                  <div class="total"><span><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: order.currency).to_html %></span></div>
                </div>
            </div>
          </div>
          <% end %>

          <% if order.all_adjustments.tax.exists? %>
          <div class="col-md-12">
            <div id="tax-adjustments" data-hook="order_details_tax_adjustments">
              <% order.all_adjustments.tax.group_by(&:label).each do |label, adjustments| %>
                <div class="total">
                  <div class="label"><%= Spree.t(:tax) %>: <strong><%= label %></strong></div>
                  <div class="total"><span><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %></span></div>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>

          <% if order.total_applicable_store_credit > 0.0 %>
          <div class="col-md-12">
            <div id="store-credit" data-hook="order_details_store_credit">
              <div class="total">
                <div class="label"><%= Spree.t("store_credit.store_credit") %>:</div>
                <div class='total'><span><%= order.display_total_applicable_store_credit.to_html %></span></div>
              </div>
            </div>
          </div>
          <% end %>

          <div class="col-md-12">
            <div id="order-charges" data-hook="order_details_adjustments">
              <% order.adjustments.eligible.each do |adjustment| %>
              <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
                <div class="total">
                  <div class="label"><strong><%= adjustment.label %></strong></div>
                  <div class="total"><span><%= adjustment.display_amount.to_html %></span></div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-md-12">
            <div id="order-total" data-hook="order_details_total" >
              <div class="total">
                <div class="label"><b><%= Spree.t(:order_total) %>:</b></div>
                <div class="total"><span id="order_total"><%= order.display_order_total_after_store_credit.to_html %></span></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
