<div class="navigations <%= "navigations--sticky" if local_assigns[:sticky] %>">
  <a href="<%= root_path %>" title="Home" class="navigations__forst-shop"></a>
  <div class="nav-languages">
    <div class="toogler">
      <a class="world js-world-toggler" href="#">
        <i class="fa fa-globe"></i>
      </a>
    </div>
    <ul class="nav-languages__list">
      <li class="<%= 'active' if I18n.locale == :it %>"><%= link_to Spree.t(:locale_it), url_for(locale: :it) %></li>
      <li class="<%= 'active' if I18n.locale == :de %>"><%= link_to Spree.t(:locale_de), url_for(locale: :de) %></li>
      <li class="<%= 'active' if I18n.locale == :en %>"><%= link_to Spree.t(:locale_en), url_for(locale: :en) %></li>
    </ul>
  </div>
  <div class="cart-small hidden-xs">
    <a href="<%= spree.cart_path %>">
      <i class="icon-cart"></i>
    </a>
    <span class="js-inject-link-to-cart"></span>
  </div>
  <div class="js-nav-toggler">
    <a class="navigation-toggler" href="#">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
