<div class="navigations <%= "navigations--sticky" if local_assigns[:sticky] %>">
  <a href="<%= root_path %>" title="Home" class="navigations__forst-shop"></a>
  <div class="nav-languages">
    <div class="toogler">
      <a class="world js-world-toggler" href="#">
        <i class="fa fa-globe"></i>
      </a>
    </div>
    <ul class="nav-languages__list">
      <% [:it, :de, :en].each do |lang| %>
        <li class="<%= 'active' if I18n.locale == lang %>">
          <%= link_to Spree.t(:"locale_#{lang}"), url_for(locale: lang) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="cart-small hidden-xs">
    <a href="<%= spree.cart_path %>">
      <i class="icon-cart"></i>
    </a>
    <span class="js-inject-link-to-cart"></span>
  </div>
  <div class="js-nav-toggler">
    <a class="navigation-toggler" href="#">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
